*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
   
    margin:0;
}
header{
    background-color:#2874f0;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top:0;
    z-index: 100;
    width: 100%;

}
.logo{
    width:100px;
}
.logo>a>img{
    width:100%;
}

/* ////////////Search Css ////////////////////////////*/

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    min-width: 300px;
    width: 400px;
    background-color: white;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;

}
.search i{
    color:#2874f0 ;
}
.search input{
    width:100%;
    font-size: 15px;
    border: none;
    outline: none;
}
.recent_search{
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 300px;
    width: 100%;
    top: 33px;
    margin-left: -10px;
    display: none;
}
.search:focus-within .recent_search{
    display: block;
}

.recent-list{
    display: flex;
    padding-left: 10px;
    margin-top: 10px;
}
.recent-list p{
    padding-left: 10px;
    font-size: 14px;
}
.recent-list i{
    color:#7a7a7a;
}



/* /////////   LoginBtn  /////////////////// */

.loginBtn{
    background-color: white;
    height:31px;
    width:70px;
    text-align: center;
    padding-top: 7px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 550;
    margin-right: 15px;
    margin-left: 10px;
    
}
.loginBtn a{
    color: #2874f0;
    text-decoration: none;
}

.login_manue{
    position: absolute;
    width: 100%;
    max-width: 200px;
    background-color: white;
    height: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateX(-30%);
    display:none;
    margin-top: 8px;

}
.login_menue_list{
    padding:10px;
    font-size: 14px;
    
}
.loginBtn:hover .login_manue{
  display:block;
}

.login_menue_top{
    display:flex;
    justify-content: space-between;
    
}
.login_menue_top a:hover{
    text-decoration: underline;
}
.link{
    display: flex;
    margin-top: 20px;
}
.link p{
    
    margin-left: 15px;
}
   /* ////////////////   Become a seller Button    ////////////////////////// */


.nav-link{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight:550 ;
    margin-right: 20px;
}


/* ///////////////////      More Button    ///////////////////////////// */

.more-link{
   
    font-weight:550 ;
    color: white;
    margin-left: 10px;
}

.more-link>i{
    font-size: 10px; 
}

.more-link:hover .icon_more{
    transform: rotate(180deg);
}

.more_menue{
    position: absolute;
    width: 100%;
    max-width: 200px;
    background-color: white;
    height: 130px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateX(-30%);
    display:none;
    margin-top: 4px;
}
.more-link:hover .more_menue{
    display:block;
}

.more_menue_top{
    display: flex;
    color: #000;
    font-size: 13px;
}
.more_menue_top p{
   margin-left: 12px;
}
.link2{
    color:#000;
    display: flex;
    margin-top: 13px;
    font-size: 13px;
}
.link2 p{
    margin-left: 12px;
    
}
.more_menue_list{
    padding:10px 0px 10px 12px;
}

/* ///////////////   Cart Button /////////////////////////////////  */

.card_link{
    display: flex;
    font-size: 18px;
    font-weight: 550;
    color: white;
    margin-left: 30px;
}
.card_link a{
    padding: 0px 7px;
    color: white;
    text-decoration: none;
}








/* ***********************  CATEGORY ********************************** */

#category{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    font-size: 13px;
    font-weight: 550;
    padding: 12px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    margin-top: 60px;
  
}

#category>div{
    width: 9%;

}

#category>div>a>img{
    width:60px;
}
#category>div>a{
    text-decoration: none;
}
#category>div>a>p{
    color:black;
    
}

#category>div>a>i{
    font-size: 10px; 
   
    
}

#category>div:hover i{
    transform: rotate(180deg);
}

.fashion_manue{
    position: absolute;
    width: 100%;
    max-width: 350px;
    background-color:white;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* transform: translateX(-30%); */
    display:none;
    z-index: 100;
   

}
.fashion:hover .fashion_manue{
    display:block;
}
.list1{
    width:200px;
    height: 380px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 5px;

}
.list1 p{
    margin-top: 19px;
    
}

.list2{
    width: 200px;
    font-size: 14px;
    padding-left: 10px;

}
.list2 p{
    margin-top: 19px;
    
}
.menue_list{
    width:100%;
    display: flex;
    justify-content: space-around;
    text-align: left;
    
}

.Electronic_manue{
    position: absolute;
    width: 100%;
    max-width: 350px;
    background-color:white;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:none;
    z-index: 100;
    transform: translateX(-30%);
    
}
.Electronic:hover .Electronic_manue{
    display:block ;
}



.home_manue{
    position: absolute;
    width: 100%;
    max-width: 350px;
    background-color:white;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:none;
    z-index: 100;
    transform: translateX(-30%);
}

.Home:hover .home_manue{
    display:block ;
}


.Beauty_menue{
    position: absolute;
    width: 100%;
    max-width: 350px;
    background-color:white;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:none;
    z-index: 100;
    transform: translateX(-60%);
}

.Beauty:hover .Beauty_menue{
    display:block ;
}

 .Wheeler_manu{
    position: absolute;
    width: 100%;
    max-width: 200px;
    background-color:white;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:none;
    z-index: 100;
    transform: translateX(-60%);
    text-align: left;
}

.Wheeler:hover .Wheeler_manu{
    display:block ;
}
.Wheeler_manu p{
    margin-top: 25px;
    margin-left: 15px;
}
 









/* ******************* Banner ************************************************** */
.imageSliderContainer{
    width: 100%;
    position: relative;
    background-color: #f1f3f6;
    height:280px;
    display: flex;
} 

.imageSliderList{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    display: flex;
    overflow: hidden;
    
    /* z-index: 11; */
     
}  

.imageSliderItem{
   width: 99%;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-width: 100%;  
    transition: transform 1s;
}

.imageSliderItem img{
   margin-right: 10px;
    height: 100%; 
} 

.imageSliderBtn{
    position: absolute;
    
    width: 99%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

 .imageSliderBtn button{
    padding: 37px 22px;
    background-color: white;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 10px 20px;
    border-radius: 5px;
    z-index: 13;
    margin-left: 5px;
    margin-right: -8px;
} 


/* ***************************** Best Of Electronics *************************** */

.bestofElectronic_Contianer{
    width: 99%;
    height: 310px;
    background-color: red;
    display: flex;
}
.bestofElectronicmoreOption{
    height: 100px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.bestofElectronicmoreOption img{
    height: 100%;
    width: 100%;
}
.BestofElectronic_item{
    background-color: white;
    min-width: 210px;
    max-width:210px ;
    height: 310px;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.viewAllBtn{
    background-color: #2874f0;
    padding: 6px 16px;
    border-radius: 3px;
    color:white;
    font-size: 15px;
    text-decoration: none;
}
.bestofElectronic_bigText{
    font-size: 30px;
    text-align: center;
    margin:60px 0px 30px 0px;
}
.bestofElectronic_list{
    display: flex;
}
.bestOfElectornic_image_Product{
    height: max-content;
    text-align: center;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.bestOfElectornic_image_Product img{
    width: 90%;
    max-height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bestofElectornicProduct_name{
    font-size: 15px;
    padding: 5px;
    letter-spacing: 0.5px;
}
.bestofElecronic_discount{
    color:#388e3c;
}
.bestofElectronic_brand{
    color:rgb(143, 136, 136);
}


.bestofElctronic_product_item{
    display: flex;
    overflow: hidden;
}
.bestofElectronic_brand{
    font-size: 12px;
    padding-top: 7px;
}
.bestofElectornicProduct_name{
    color:#000;
}

.productBtn{
    position:absolute; 
    width: 99%;
    display: flex;
    justify-content: space-between;
  
   

}

.productBtn button{
    position:relative; 
    padding: 37px 15px;
    background-color: white;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 10px 20px;
    border-radius: 5px;
    z-index: 13;
   margin-top:120px ;
   margin-left: 210px;
  
} 

#prev_Btn{
    /* display:none; */
}




/* ************************************* Category ******************************* */

.paragraph{
    
    margin-top: 90px;
    padding-left: 10px;
}
.paragraph P{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.paragraph h6{
    color: #2874f0;
}

.banner{
    width:99%;
    
    margin-top: 8px;
}
.banner img{
    width:100%;
}

.banner2{
    width:99%;
   
}
.banner2 img{
    width:100%;
}

.banner3{
    width:99%;
    
}
.banner3 img{
    width:100%;
}


.banner4{
   
    width:100%;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    justify-content: space-between;
    gap:10px;
}

.banner4 img{
    width:99%;
    margin: auto;
}



/* ************************************************************* */

.left{
    display: flex;
}
.left>div{
    width:48%;
}
.left img{
    width:100px;
}
.left2 p{
   margin-top: 8px;
   font-size: 13px;
}
.left2 h3{
    font-size: 16px;
}

.banner5{
    width: 99%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin:20px 8px;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 10px;
    padding:10px 10px 10px 30px;
}


.left2-1 img{
    width:20px;
    height:20px;
}

.banner5>div{
    width:32%;
}
.img_link img{
  width:20px;
}
.img_link {
    display: flex;
  }

  .middle p{
   margin-top: 10px;
  }

  .middle h4{
    margin-top: 10px;
  }
  .middle h6{
    margin-top: 10px;
  }
  
  
  .right p{
    margin-top: 10px;
   }
 
   .right h4{
     margin-top: 10px;
   }
   .right h6{
     margin-top: 10px;
   }
  


   /* ********************** Grocery CSS ******************************************* */

   .para{
    margin-top: 90px;
    font-size: 13px;
    margin-left: 15px;
    margin-right: 10px;
   }


   .G-banner1{
    width:99%;
    display: flex;
    margin: auto;
    justify-content: space-around;
   }

   .G-banner1 img{
      width:32%;
   }
   
   .G-Banner1 h4{
       margin: 25px 20px 25px 20px;
   }

   .G-Banner1{
    box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 10px;
    padding-bottom: 10px;
    
   }


   .G-Banner2{
    display: flex;
    width:98%;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 10px;
   }
   .G-Banner2>.one{
    width:66%;
    margin-top:4px;
   
   }
   .G-Banner2>.one img{
    width:100%;
   
   }

   .G-Banner2>.two{
    width:33%;
   
   }
   .G-Banner2>.two img{
    width:100%;
   
   }